{% extends 'base.html' %}

{% block main %}

<script src="https://code.jquery.com/jquery-1.5.2.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, user-scalable=no"></meta>

<title>Admin Instructions</title>


<div class="row d-flex justify-content-center">
  <div class="white-bg custom-shadow w-75 flex-column d-flex justify-content-center ">

      <div class="row">
         <div class="w-100 d-flex justify-content-center ">
           <img src=/static/institute_of_mental_health.png width="500" height="275">
         </div>
      </div>
      <div class="d-flex justify-content-center flex-column w-75 align-self-center ">
      <div class="d-flex justify-content-start">
        <h3><b><u>Therapist Manual For OcTAVE Receptionist Vocational Training Program Intake Assessmen</u></b></h3>
      </div>
        <div class="d-flex justify-content-start">
          Assessment venue: Job Club office, level 1
        </div>
        <div class="d-flex justify-content-start">
          Required materials/tools: OT to set up the environment
        </div>
        <hr/>
        <div class="d-flex justify-content-start w-50">
          <table class="table table-bordered col-sm-10 ">
            <thead>
              <tr>
                <th scope="col">Tools & Set Up</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1.Computer number 3</th>
              </tr>
              <tr>
                <th scope="row">2.Phone</th>
              </tr>
              <tr>
                <th scope="row">3.Stationaries (pen with no ink, stack of papers)</th>
              </tr>
              <tr>
                <th scope="row">4.Short ladder (to be placed under computer 3)</th>
              </tr>
              <tr>
                <th scope="row">4.Short ladder (to be placed under computer 3)</th>
              </tr>
              <tr>
                <th scope="row">6.50 blue colored files</th>
              </tr>
              <tr>
                <th scope="row">7.One A4 box (on top of cabinet, inside job club office)</th>
              </tr>
              <tr>
                <th scope="row">8.Excel spreadsheet</th>
              </tr>
              <tr>
                <th scope="row">9.Phone call list </th>
              </tr>
              <tr>
                <th scope="row">10.Chair with adjustable height</th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-start">
          <h3><b><u>Therapist Instructions For Assessment</u></b></h3>
        </div>
        <div class="d-flex justify-content-start">
          Welcome to receptionist vocational training assessment.
        </div>
        <div class="d-flex justify-content-start">
          Please listen the instructions carefully.
        </div>
        <div class="d-flex justify-content-start">
          Today, you are required to perform the following 4 tasks in this assessment
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          1.	Excel spreadsheet
        </div>
        <div class="d-flex justify-content-start">
          2.	Phone answering and taking phone messages
        </div>
        <div class="d-flex justify-content-start">
          3.	Presenting phone messages in Microsoft Word in one email format
        </div>
        <div class="d-flex justify-content-start">
          4.	Retrieving and sorting out files in a box
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Now, I will show you the setup of job club office environment, including the location of all needed tools and materials and the operations of any needed electrical appliances where necessary.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h6><b>(Orientation): Orientate client to job club office, level 1. Please use the computer no 3 for the assessment today. This is phone. This is stationary box etc. This is short ladder. This is the metal cabinet with blue colored files. </b></h6>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h6><b>(Orientation): Orientate client to the small room inside job club office, level 1. This is the box. </b></h6>
        </div>
        <hr/>

        <div class="d-flex justify-content-start">
          <h5><u>TASK 1</u></h5>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Please see Excel spreadsheet table. You are required to complete an exact replica of the spreadsheet given. Please change the month/year to current and fill up the amount reimbursed column as well as calculate the Sub total.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Please SAVE this file as OTPaymentdatemonth (eg. OTPayment1905) in desktop.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Do you have any questions?
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h5><u>TASK 2 (OTs to note that all phone messages to be completed during the excel task ONLY)</u></h5>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Whilst you are performing excel tasks, you are expected to answer any calls and take down the messages accurately.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          You are expected to show good phone etiquette skills and accuracy in message taking. Please address the caller in a polite manner. Do not allow caller to wait on phone for lengthy period whilst you take down the message.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          You are expected to answer the call with this standardized opener:
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <u><b>“Good morning/afternoon OT recep (name) speaking. How can I assist you?"</b></u>
           You are also expected to end the call with <u><b>“Thank you have a nice day”.</b></u>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          When taking down the message, take down the following information ONLY:
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          1.	Name of caller
        </div>
        <div class="d-flex justify-content-start">
          2.	Recipient of message
        </div>
        <div class="d-flex justify-content-start">
          3.	Content of message
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          You would be required to initiate a call as a follow up for one of the phone calls that you will receive. Please call 63892678 and deliver your message for this follow up call accurately.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Do you have any questions?
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h5><u>TASK 3</u></h5>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          You are required to present all phone messages in <u><b>ONE organized, email format in MS Word addressing to Mr Paul</b></u>.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Please SAVE this file as Phonemessagesdatemonth (eg. Phonemessages1905) in desktop.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h5><u>TASK 4</u></h5>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Please retrieve all blue files from all the compartment of metal cabinet and arrange the files alphabetically in the box provided to you. You will need to also take the box from the top of a cupboard. Once you have sorted out the files, place the box of files next to your computer.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Do you have any questions?
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          You are required to complete the assigned tasks within 45 mins. You can still go on to complete the tasks till 75 mins if you do not meet the 45 mins mark. Once you have done with all tasks, please let me know so that I will stop the timer. (Standard time: 60 minutes)
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          You are required to focus on the tasks at all times and aim to complete it to the best of your abilities.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          You are required to return all items to their original place after use. If you need any items/materials, please approach the receptionist for assistance.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          You can refer to the instructions list provided to you.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Please do not hesitate to clarify any doubt or ask questions when need arises during the assessment period.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Do you have any questions? If no, you can read the instructions list first and do let me know when you are ready to start.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          (Timer) Start the timer once client is ready.
        </div>
        <hr/>
        <div id="c">
            <h1>Countdown</h1>
            <span id="cd_h">00</span><span>&nbsp;:</span>
            <span id="cd_m">00</span><span>&nbsp;:</span>
            <span id="cd_s">00</span><span>&nbsp;:</span>
            <span id="cd_ms">00</span>
            <br/>
            <br/>
            <input type="button" class="btn btn-primary" value="START" id="cd_start" />
            <input type="button" class="btn btn-primary" value="PAUSE" id="cd_pause" />
            <input type="button" class="btn btn-primary" value="RESET" id="cd_reset" />
            <br/>
            <br/>
            <input type="number" class="form-control col-sm-1" value="60" id="cd_minutes" />
          <i id="minutes">Minutes</i>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          (Timer) Stop the timer once client has done with all tasks
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          OT to fill up vocational assessment form
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Feedback to client the assessment result and area of improvement.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Explain the VT agreement form if client passes the assessment and get them sign the form via app.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Inform respective VT OT about the new referral
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h4><u>TASK 1: EXCEL SPREADSHEET</u></h4>
        </div>
        <div class="d-flex justify-content-center">
          <img src=/static/excel_pic.png width="800" height="1000">
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h4><u>TASK 2/3: PHONE CALLS AND MESSAGE TAKING SCORING</u></h4>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h6><u>MESSAGE 1</u></h6>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h6><u>From: Jagan/Devi <sup>(1)</sup></u></h6>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h6><u>To: Maria <sup>(2)</sup></u></h6>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h6>Hi, am Jagan/Devi here. I tried calling Miss Maria but her line has been engaged. Can you please inform her that her patient
            <u>Mr Su Woon Kim <sup>(3)</sup></u> of <u>NRIC S8645346A <sup>(4)</sup> did not attend <sup>(5)</sup>
            </u>the <u>retail training <sup>(6)</sup></u> program <u>last Wednesday <sup>(7)</sup>.</u></h6>
        </div>
        <div class="d-flex justify-content-end">
          <h6>(&nbsp;&nbsp;/7)</h6>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h6><u>MESSAGE 2</u></h6>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h6><u>From: Jayson/Janice <sup>(1)</sup></u></h6>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h6><u>To: Joylynn <sup>(2)</sup></u></h6>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h6>Hi, can you please inform Miss Joylynn to <u>return the call</u> <sup>(3)</sup> of
            her patient<u> Marcus Tan’s <sup>(4)</sup> father </u><sup>(5)</sup> ? Marcus Tan’s father is contactable at <u>93399063</u> <sup>(6)</sup>.</h6>
        </div>
        <div class="d-flex justify-content-end">
          <h6>(&nbsp;&nbsp;/6)</h6>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h6><u>MESSAGE 3</u></h6>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h6><u>From: Joel/Joy <sup>(1)</sup></u></h6>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h6><u>To: William <sup>(2)</sup></u></h6>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h6>Hi this is Joel/Joy from <u>Finance Department</u> <sup>(3)</sup>. There has been some problems with Mr William’s claims.
            Can you please ask Mr William to come down to <u>Finance department </u><sup>(5)</sup> and look for me by <u>today </u><sup>(5)</sup>?
            Please ask him to bring along receipts numbered <u>21397 </u><sup>(6)</sup> and <u>IB3450986 </u><sup>(7)</sup>.	</h6>
        </div>
        <div class="d-flex justify-content-end">
          <h6>(&nbsp;&nbsp;/7)</h6>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h6><u>MESSAGE 4(Trainee Follow up call)</u></h6>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h6><u>From: Gerald/Geraldine <sup>(1)</sup></u></h6>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h6>To: Receptionist</h6>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h6>Hello, the toilet in <u> OT Office Block 1 Level 2 </u><sup>(2)</sup> is
            flooded with <u>toilet bowl water </u><sup>(3)</sup> and is <u>flowing into the office </u><sup>(4)</sup>. Can you please call up <u>facilities department </u><sup>(5)</sup> at<u> 63892677 </u><sup>(6)</sup> and
            inform them to<u>send the maintenance guys over </u><sup>(7)</sup> as soon as possible? Also inform the maintenance guys to <u>call Vicki </u><sup>(8)</sup>
            <u>@ext 1934 </u><sup>(9)</sup> once they are at the <u>OTD code blue door </u><sup>(10)</sup> so that she can open the door for them.</h6>
          </div>
          <div class="d-flex justify-content-end">
            <h6>(&nbsp;&nbsp;/10)</h6>
          </div>
          <hr/>

        <div class="d-flex justify-content-start">
          <h6><u>MESSAGE 5 (TRAINEE FOLLOW UP CALL TO ASSESSING OT)</u></h6>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h6>Hello, the toilet in <u>OT Office Block 1 Level 2 </u><sup>(1)</sup> is flooded with <u>oilet bowl water</u> <sup>(2)</sup>
            Can you please <u>send the maintenance guys over </u><sup>(3)</sup>? <u>now<sup>(4)</sup></u>?
            Please inform the maintenance guys to <u>call Vicki </u><sup>(5)</sup> @ ext<u>1934</u> <sup>(6)</sup>
            once they are at the <u>OTD code blue door </u><sup>(7)</sup> so that she can open the door for them.</h6>
        </div>
        <div class="d-flex justify-content-end">
          <h6>(&nbsp;&nbsp;/7)</h6>
        </div>
        <hr/>

        <div class="d-flex justify-content-start">
          <h5>Total no. of accurate details:( &nbsp;&nbsp; /27)</h5>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h5>Accuracy percentage: (&nbsp;&nbsp;&nbsp;/100)</h5>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h4><u>TASK 4: SORTING FILES SCORING</u></h4>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h5>Total no. of files: 50</h5>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h5>Total no. of accurately sorted files:(&nbsp;&nbsp;/50)   </h5>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h5>Accuracy percentage:(&nbsp;&nbsp;&nbsp;/100)</h5>
        </div>
        <hr/>

        </div>

        <div class="d-flex bd-highlight mb-3 w-100 ">
          <div class="p-2 bd-highlight">
            <input class="btn btn-primary" onclick="goback()" type="button" value="BACK"/>
          </div>
          <div class="ml-auto p-2 bd-highlight">
            <form action="/staff/motor" method="post">
            <input class="btn btn-primary" type="submit" value="NEXT"/>
            </form>
          </div>
        </div>

  </div>
</div>




  <script type="text/javascript">
    function goback(){
      window.history.back();
    }

    $(document).ready(function() {
      (function($){
          $.extend({
              APP : {
                  formatTimer : function(a) {
                      if (a < 10) {
                          a = '0' + a;
                      }
                      return a;
                  },
                  startTimer : function(dir) {
                      var a;
                      // save type
                      $.APP.dir = dir;
                      // get current date
                      $.APP.d1 = new Date();
                      switch($.APP.state) {
                          case 'pause' :
                              // resume timer
                              // get current timestamp (for calculations) and
                              // substract time difference between pause and now
                              $.APP.t1 = $.APP.d1.getTime() - $.APP.td;
                          break;
                          default :
                              // get current timestamp (for calculations)
                              $.APP.t1 = $.APP.d1.getTime();
                              // if countdown add ms based on seconds in textfield
                              if ($.APP.dir === 'cd') {
                                  $.APP.t1 += parseInt($('#cd_minutes').val())*60000;
                              }
                          break;
                      }
                      // reset state
                      $.APP.state = 'alive';
                      // start loop
                      $.APP.loopTimer();

                  },
                  pauseTimer : function() {
                      // save timestamp of pause
                      $.APP.dp = new Date();
                      $.APP.tp = $.APP.dp.getTime();
                      // save elapsed time (until pause)
                      $.APP.td = $.APP.tp - $.APP.t1;
                      // change button value
                      $('#' + $.APP.dir + '_start').val('Resume');
                      // set state
                      $.APP.state = 'pause';
                  },
                    resetTimer : function() {
                      // reset display
                      $('#' + $.APP.dir + '_ms,#' + $.APP.dir + '_s,#' + $.APP.dir + '_m,#' + $.APP.dir + '_h').html('00');
                      // change button value
                      $('#' + $.APP.dir + '_start').val('Start');
                      // set state
                      $.APP.state = 'reset';
                  },
                  endTimer : function(callback) {
                      // change button value
                      $('#' + $.APP.dir + '_start').val('Restart');
                      // set state
                      $.APP.state = 'end';
                      // invoke callback
                      if (typeof callback === 'function') {
                          callback();
                      }
                  },
                  loopTimer : function() {
                      var td;
                      var d2,t2;
                      var ms = 0;
                      var s  = 0;
                      var m  = 0;
                      var h  = 0;
                      if ($.APP.state === 'alive') {
                          // get current date and convert it into
                          // timestamp for calculations
                          d2 = new Date();
                          t2 = d2.getTime();
                          // calculate time difference between
                          // initial and current timestamp
                          if ($.APP.dir === 'sw') {
                              td = t2 - $.APP.t1;
                          // reversed if countdown
                          } else {
                              td = $.APP.t1 - t2;
                              if (td <= 0) {
                                  // if time difference is 0 end countdown
                                  $.APP.endTimer(function(){
                                      $.APP.resetTimer();
                                  });
                              }
                          }
                          // calculate milliseconds
                          ms = td%1000;
                          if (ms < 1) {
                              ms = 0;
                          } else {
                              // calculate seconds
                              s = (td-ms)/1000;
                              if (s < 1) {
                                  s = 0;
                              } else {
                                  // calculate minutes
                                  var m = (s-(s%60))/60;
                                  if (m < 1) {
                                      m = 0;
                                  } else {
                                      // calculate hours
                                      var h = (m-(m%60))/60;
                                      if (h < 1) {
                                          h = 0;
                                      }
                                  }
                              }
                          }
                          // substract elapsed minutes & hours
                          ms = Math.round(ms/100);
                          s  = s-(m*60);
                          m  = m-(h*60);
                          // update display
                          $('#' + $.APP.dir + '_ms').html($.APP.formatTimer(ms));
                          $('#' + $.APP.dir + '_s').html($.APP.formatTimer(s));
                          $('#' + $.APP.dir + '_m').html($.APP.formatTimer(m));
                          $('#' + $.APP.dir + '_h').html($.APP.formatTimer(h));
                          // loop
                          $.APP.t = setTimeout($.APP.loopTimer,1);
                      } else {
                          // kill loop
                          clearTimeout($.APP.t);
                          return true;
                      }
                  }
              }
          });
          $('#sw_start').live('click', function() {
              $.APP.startTimer('sw');
          });
          $('#cd_start').live('click', function() {
              $.APP.startTimer('cd');
          });
          $('#sw_reset,#cd_reset').live('click', function() {
              $.APP.resetTimer();
          });
          $('#sw_pause,#cd_pause').live('click', function() {
              $.APP.pauseTimer();
          });
      })(jQuery);
  });


  </script>

{% endblock %}
