{% extends 'base.html' %}

{% block main %}


<script src="https://code.jquery.com/jquery-1.5.2.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, user-scalable=no"></meta>

<style>
mark {
  background-color: yellow;
  color: black;
}
</style>

<title>Cleaning Instructions</title>


<div class="row d-flex justify-content-center">
  <div class="white-bg custom-shadow w-75 flex-column d-flex justify-content-center ">

      <div class="row">
         <div class="w-100 d-flex justify-content-center ">
           <img src=/static/institute_of_mental_health.png width="500" height="275">
         </div>
      </div>
      <div class="d-flex justify-content-center flex-column w-75 align-self-center ">
      <div class="d-flex justify-content-start">
        <h3><b><u>Therapist Manual For OcTAVE Cleaning Vocational Training Program Intake Assessment</u></b></h3>
      </div>
        <div class="d-flex justify-content-start">
          Assessment venue: Common space in front of group therapy room and staircases lead to job club office
        </div>
        <div class="d-flex justify-content-start">
          Required tools/materials: OT is required to set up the environment
        </div>
        <hr/>
        <div class="d-flex justify-content-start w-50">
          <table class="table table-bordered col-sm-8 ">
            <thead>
              <tr>
                <th scope="col">Tools & Set Up</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1. Water pail</th>
              </tr>
              <tr>
                <th scope="row">2. Cloth</th>
              </tr>
              <tr>
                <th scope="row">3. Broom</th>
              </tr>
              <tr>
                <th scope="row">4. Dustpan</th>
              </tr>
              <tr>
                <th scope="row">5. Mop </th>
              </tr>
              <tr>
                <th scope="row">6. Trolley mop bucket </th>
              </tr>
              <tr>
                <th scope="row">7. Caution wet floor warning signboard</th>
              </tr>
              <tr>
                <th scope="row">8. 2 yellow chairs (take from Pottery workshop and place beside the coffee table)</th>
              </tr>
              <tr>
                <th scope="row">9. Simulated rubbish on the floor (3 spots) and staircases (1 spot)</th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-start">
          <h3><b><u>Therapist Instructions For Assessment</u></b></h3>
        </div>
        <div class="d-flex justify-content-start">
          Welcome to cleaning vocational training assessment.
        </div>
        <div class="d-flex justify-content-start">
          Please listen the instructions carefully.
        </div>
        <div class="d-flex justify-content-start">
          Today, you are required to perform the following 4 tasks in this assessment
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          1.	Wipe the coffee table, chairs and windows
        </div>
        <div class="d-flex justify-content-start">
          2.	Sweep the staircases
        </div>
        <div class="d-flex justify-content-start">
          3.	Sweep and mop the floor
        </div>
        <div class="d-flex justify-content-start">
          4.	Wipe the yellow chairs
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Now, I will show you the setup of the cleaning store room and the areas to be cleaned,
          including the location of all needed tools and materials and the operation of any needed electrical appliances where necessary.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h4><b>(Orientation 1) Orientate client to cleaning store room, level 1</b></h4>
        </div>
        <div class="d-flex justify-content-start">
          This is the cleaning store room (pointing to the signboard at the door).
          You can find and use all the cleaning equipment/tools over here. Do you have any questions?
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h4><b>(Orientation 2) Orientate client to the common space in front of group therapy room, Level 1 </b></h4>
        </div>
        <div class="d-flex justify-content-start">
          (Bring client to that area when giving instructions to them). You are required to wipe the coffee table, chairs and windows over here.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          For the chairs wiping, you just need to wipe the back rest, surface of the seat and arm rest. For yellow chairs, please return to the Pottery workshop after you have finished wiping it. Also, you are required to sweep and mop the floor from one end to another end. You have to sweep the floor first before mopping the floor. Make sure no water dripping from the mop. For the window wiping, you are required to wipe windows without opening it. Do you have any questions?
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          (OT to take note that if client asks where to pour the water of the trolley mop bucket after assessment- direct client to pour the water at toilet’s squatting cubicle instead of cleaning store room)
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h4><b>(Orientation 3) Orientate client to the staircases lead to job club office.</b></h4>
        </div>
        <div class="d-flex justify-content-start">
          You are required to sweep this staircase. Do you have any questions?
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          You are required to complete the assigned tasks within 30 mins. If you do not meet the 30mins timing, you can continue to complete the tasks up to 60 mins. Once you have done with all the tasks, please let me know so that I will stop the timer.
        </div>
        <div class="d-flex justify-content-start">
          <mark>(Standard time: 45 minutes)</mark>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          You are required to focus on the tasks and aim to complete it to the best of your abilities.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          You are required return the items to the original place after use and discard any waste into a rubbish bin.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          You can refer to the instructions list provided to you.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Please do not hesitate to clarify any doubt or ask questions when need arises during the assessment period.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Do you have any questions? If no, you can read the instructions list first and do let me know when you are ready to start.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          (Timer) Start the timer once client is ready.
        </div>
        <hr/>
        <div id="c">
            <h1>Countdown</h1>
            <span id="cd_h">00</span><span>&nbsp;:</span>
            <span id="cd_m">00</span><span>&nbsp;:</span>
            <span id="cd_s">00</span><span>&nbsp;:</span>
            <span id="cd_ms">00</span>
            <br/>
            <br/>
            <input type="button" class="btn btn-primary" value="START" id="cd_start" />
            <input type="button" class="btn btn-primary" value="PAUSE" id="cd_pause" />
            <input type="button" class="btn btn-primary" value="RESET" id="cd_reset" />
            <br/>
            <br/>
            <input type="number" value="45" class="form-control col-sm-1" id="cd_minutes" />
          <i id="minutes">Minutes</i>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          (Timer) Stop the timer once client has done with all tasks
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          OT to fill up vocational assessment form
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Feedback to client the assessment result and area of improvement.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Explain the VT consent form if client passes the assessment and get them sign the form via app.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Inform respective VT OT about the new referral
        </div>

        </div>

        <div class="d-flex bd-highlight mb-3 w-100 ">
          <div class="ml-auto p-2 bd-highlight">
            <form action="/staff/motor" method="post">
            <input class="btn btn-primary" type="submit" value="NEXT"/>
            </form>
          </div>
        </div>

  </div>
</div>




  <script type="text/javascript">
    function goback(){
      window.history.back();
    }

    $(document).ready(function() {
      (function($){
          $.extend({
              APP : {
                  formatTimer : function(a) {
                      if (a < 10) {
                          a = '0' + a;
                      }
                      return a;
                  },
                  startTimer : function(dir) {
                      var a;
                      // save type
                      $.APP.dir = dir;
                      // get current date
                      $.APP.d1 = new Date();
                      switch($.APP.state) {
                          case 'pause' :
                              // resume timer
                              // get current timestamp (for calculations) and
                              // substract time difference between pause and now
                              $.APP.t1 = $.APP.d1.getTime() - $.APP.td;
                          break;
                          default :
                              // get current timestamp (for calculations)
                              $.APP.t1 = $.APP.d1.getTime();
                              // if countdown add ms based on seconds in textfield
                              if ($.APP.dir === 'cd') {
                                  $.APP.t1 += parseInt($('#cd_minutes').val())*60000;
                              }
                          break;
                      }
                      // reset state
                      $.APP.state = 'alive';
                      // start loop
                      $.APP.loopTimer();

                  },
                  pauseTimer : function() {
                      // save timestamp of pause
                      $.APP.dp = new Date();
                      $.APP.tp = $.APP.dp.getTime();
                      // save elapsed time (until pause)
                      $.APP.td = $.APP.tp - $.APP.t1;
                      // change button value
                      $('#' + $.APP.dir + '_start').val('Resume');
                      // set state
                      $.APP.state = 'pause';
                  },
                    resetTimer : function() {
                      // reset display
                      $('#' + $.APP.dir + '_ms,#' + $.APP.dir + '_s,#' + $.APP.dir + '_m,#' + $.APP.dir + '_h').html('00');
                      // change button value
                      $('#' + $.APP.dir + '_start').val('Start');
                      // set state
                      $.APP.state = 'reset';
                  },
                  endTimer : function(callback) {
                      // change button value
                      $('#' + $.APP.dir + '_start').val('Restart');
                      // set state
                      $.APP.state = 'end';
                      // invoke callback
                      if (typeof callback === 'function') {
                          callback();
                      }
                  },
                  loopTimer : function() {
                      var td;
                      var d2,t2;
                      var ms = 0;
                      var s  = 0;
                      var m  = 0;
                      var h  = 0;
                      if ($.APP.state === 'alive') {
                          // get current date and convert it into
                          // timestamp for calculations
                          d2 = new Date();
                          t2 = d2.getTime();
                          // calculate time difference between
                          // initial and current timestamp
                          if ($.APP.dir === 'sw') {
                              td = t2 - $.APP.t1;
                          // reversed if countdown
                          } else {
                              td = $.APP.t1 - t2;
                              if (td <= 0) {
                                  // if time difference is 0 end countdown
                                  $.APP.endTimer(function(){
                                      $.APP.resetTimer();
                                  });
                              }
                          }
                          // calculate milliseconds
                          ms = td%1000;
                          if (ms < 1) {
                              ms = 0;
                          } else {
                              // calculate seconds
                              s = (td-ms)/1000;
                              if (s < 1) {
                                  s = 0;
                              } else {
                                  // calculate minutes
                                  var m = (s-(s%60))/60;
                                  if (m < 1) {
                                      m = 0;
                                  } else {
                                      // calculate hours
                                      var h = (m-(m%60))/60;
                                      if (h < 1) {
                                          h = 0;
                                      }
                                  }
                              }
                          }
                          // substract elapsed minutes & hours
                          ms = Math.round(ms/100);
                          s  = s-(m*60);
                          m  = m-(h*60);
                          // update display
                          $('#' + $.APP.dir + '_ms').html($.APP.formatTimer(ms));
                          $('#' + $.APP.dir + '_s').html($.APP.formatTimer(s));
                          $('#' + $.APP.dir + '_m').html($.APP.formatTimer(m));
                          $('#' + $.APP.dir + '_h').html($.APP.formatTimer(h));
                          // loop
                          $.APP.t = setTimeout($.APP.loopTimer,1);
                      } else {
                          // kill loop
                          clearTimeout($.APP.t);
                          return true;
                      }
                  }
              }
          });
          $('#sw_start').live('click', function() {
              $.APP.startTimer('sw');
          });
          $('#cd_start').live('click', function() {
              $.APP.startTimer('cd');
          });
          $('#sw_reset,#cd_reset').live('click', function() {
              $.APP.resetTimer();
          });
          $('#sw_pause,#cd_pause').live('click', function() {
              $.APP.pauseTimer();
          });
      })(jQuery);
  });

  </script>

{% endblock %}
