{% extends 'base.html' %}

{% block main %}

<script src="https://code.jquery.com/jquery-1.5.2.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, user-scalable=no"></meta>

<style>
mark {
  background-color: yellow;
  color: black;
}
</style>

<title>F&B Instructions</title>


<div class="row d-flex justify-content-center">
  <div class="white-bg custom-shadow w-75 flex-column d-flex justify-content-center ">

      <div class="row">
         <div class="w-100 d-flex justify-content-center ">
           <img src=/static/institute_of_mental_health.png width="500" height="275">
         </div>
      </div>
      <div class="d-flex justify-content-center flex-column w-75 align-self-center ">
      <div class="d-flex justify-content-start">
        <h3><b><u>Therapist Manual For OcTAVE F&B Vocational Training Program Intake Assessment</u></b></h3>
      </div>
        <div class="d-flex justify-content-start">
          Assessment Venue: Kitchen flat 2, Level 2
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Required materials/tools: OT is required to set up the environment
        </div>
        <hr/>
        <div class="d-flex justify-content-start w-50">
          <table class="table table-bordered col-sm-12 ">
            <thead>
              <tr>
                <td scope="col" colspan="2">Tools & Set Up</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row"><b>T01 cabinet</b><br/>
                Green and red plate/ bowl/Cup (Green- Halal and Red- Non Halal)
                </td>
                <td scope="row"><b>B02 cabinet</b><br/>
                Cutlery- spoon/fork
                </td>
              </tr>
              <tr>
                <td scope="row"><b>T04 cabinet</b><br/>
                1.	Maggi mee
                2.	Onion
                3.	Oil
                4.	Milo
                5.	Sugar
                6.	Weighing machine
                </td>
                <td scope="row"><b>B03 cabinet</b><br/>
                  Soup ladle/ Spatula
                </td>
              </tr>
              <tr>
                <td scope="row"><b>Fridge</b><br/>
                Egg
                </td>
                <td scope="row"><b>Fridge</b><br/>
                Egg	B04 cabinet
                Blue-color small knife
                </td>
              </tr>
              <tr>
                <td scope="row">Cloth (red and blue/green) on table</td>
                <td scope="row"><b>B06 cabinet </b><br/>
                  1.	Kettle
                  2.	Chopping board
                </td>
              </tr>
              <tr>
                <td scope="row">Induction cooker (main switch labelled RED near oven and 2nd switch is inside B09 cabinet)</td>
                <td scope="row"><b>B08 cabinet </b><br/>
                1.	Big boiling pot
                2.	Frying pan
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-start">
          <h3><b><u>Therapist Instructions For Assessment</u></b></h3>
        </div>
        <div class="d-flex justify-content-start">
          Welcome to F&B vocational training assessment.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Please listen the instructions carefully.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Today, you are required to perform the following 4 tasks in this assessment
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          1.	Cook a bowl of maggi mee soup
        </div>
        <div class="d-flex justify-content-start">
          2.	Fry onion omelette
        </div>
        <div class="d-flex justify-content-start">
          3.	Make a cup of milo (milo:20g and sugar:2g)
        </div>
        <div class="d-flex justify-content-start">
          4.	Wash and dry a big pot
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Now, I will show you the setup of the kitchen environment,
           including the location of all needed tools and materials and the operation of any needed electrical appliances where necessary.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h4><b>(Orientation) Orientate client to each kitchen cabinet (from left to right cabinet in the sequences as follow) and fridge</b></h4>
        </div>
        <div class="d-flex justify-content-start">
          a)	(T01- plate/bowl/cup) Please use the green color cups/bowls/plates
          (for Muslim clients) or red colored cups/bowls/plates (for non-Muslim clients) for the assessment today.
        </div>
        <div class="d-flex justify-content-start">
          b)	(B02- cutlery eg fork, spoon) This is the cutlery eg fork and spoon cabinet.
        </div>
        <div class="d-flex justify-content-start">
          c)	(B03- Spatula, soup ladle etc) This is the spatula, soup ladle cabinet.
        </div>
        <div class="d-flex justify-content-start">
          d)	(B04- knife) Please use the “blue-color knife” for the assessment later (pointing to blue-color knife).
        </div>
        <div class="d-flex justify-content-start">
          e)	(B06- kettle, chopping board) This is kettle, chopping board cabinet.
        </div>
        <div class="d-flex justify-content-start">
          f)	(B08- big pot, frying pan) This is big pot and frying pan cabinet.
        </div>
        <div class="d-flex justify-content-start">
          g)	(Induction cooker- main switch (labelled as red) near to oven and 2nd switch is inside B09 cabinet)
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          (Demonstration) Now, I will show you how to operate the induction cooker.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          <h4><b>OT to take note: Must show where to switch on/off the main switch of induction cooker, power on/off the induction cooker, how to adjust the power mode with +/- (min 400 watt and max 2200 watt). Do you have any questions?</b></h4>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          h)	(T04- weighing machine/onion/oil/maggi mee/milo/sugar) This is maggi mee, onion, oil, milo, sugar, weighing machine cabinet.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          (Demonstration) Now I will show you how to operate the weighing machine.
        </div>
        <hr/>

        <div class="d-flex justify-content-start">
          <h4><b>OT to take note: Must show power on/off, tare mode with an item as demonstration. Do you have any questions?</b></h4>
        </div>

        <div class="d-flex justify-content-start">
          i)	(Fridge- egg) This is the egg.
        </div>
        <div class="d-flex justify-content-start">
          j)	(Cloth-red and blue/green on table) For the red colored cloth is to dry the tools/equipment after wash and blue colored cloth is to wipe the table.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Do you have any questions?
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          You are required to complete the assigned tasks and wash all the tools/items after use within 30 mins. If you do not meet the 30mins timing, you can continue to complete the tasks up to 60 mins. Once you have done with all the tasks including washing tasks, please let me know so that I will stop the timer.
        </div>
        <div class="d-flex justify-content-start">
          <mark>(Standard time: 45 minutes)</mark>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          You are required to focus on the tasks and aim to complete it to the best of your abilities.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          You are required to re-close the opened containers, return the items to the original place after use, clean the table, wash and dry the used tools and discard any waste into a rubbish bin.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Please ensure you wash all the tools/equipment before you use it
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          You can refer to the instructions list provided to you.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Please do not hesitate to clarify any doubt or ask questions when need arises during the assessment period.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Do you have any questions? If no, you can read the instructions list first and do let me know when you are ready to start.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          (Timer) Start the timer once client is ready.
        </div>
        <hr/>
        <div id="c">
            <h1>Countdown</h1>
            <span id="cd_h">00</span><span>&nbsp;:</span>
            <span id="cd_m">00</span><span>&nbsp;:</span>
            <span id="cd_s">00</span><span>&nbsp;:</span>
            <span id="cd_ms">00</span>
            <br/>
            <br/>
            <input type="button" class="btn btn-primary" value="START" id="cd_start" />
            <input type="button" class="btn btn-primary" value="PAUSE" id="cd_pause" />
            <input type="button" class="btn btn-primary" value="RESET" id="cd_reset" />
            <br/>
            <br/>
            <input type="number" value="45" class="form-control col-sm-1" id="cd_minutes" />
          <i id="minutes">Minutes</i>
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          (Timer) Stop the timer once client has done with all tasks including washing tasks
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Allow client to sit down to eat their food
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          OT to fill up vocational assessment form
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Feedback to client the assessment result and area of improvement.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Explain the VT consent form if client passes the assessment and get them sign the form via app.
        </div>
        <hr/>
        <div class="d-flex justify-content-start">
          Inform respective VT OT about the new referral
        </div>

        </div>

        <div class="d-flex bd-highlight mb-3 w-100 ">
          <div class="ml-auto p-2 bd-highlight">
            <form action="/staff/motor" method="post">
            <input class="btn btn-primary" type="submit" value="NEXT"/>
            </form>
          </div>
        </div>

  </div>
</div>




  <script type="text/javascript">
    function goback(){
      window.history.back();
    }

    $(document).ready(function() {
      (function($){
          $.extend({
              APP : {
                  formatTimer : function(a) {
                      if (a < 10) {
                          a = '0' + a;
                      }
                      return a;
                  },
                  startTimer : function(dir) {
                      var a;
                      // save type
                      $.APP.dir = dir;
                      // get current date
                      $.APP.d1 = new Date();
                      switch($.APP.state) {
                          case 'pause' :
                              // resume timer
                              // get current timestamp (for calculations) and
                              // substract time difference between pause and now
                              $.APP.t1 = $.APP.d1.getTime() - $.APP.td;
                          break;
                          default :
                              // get current timestamp (for calculations)
                              $.APP.t1 = $.APP.d1.getTime();
                              // if countdown add ms based on seconds in textfield
                              if ($.APP.dir === 'cd') {
                                  $.APP.t1 += parseInt($('#cd_minutes').val())*60000;
                              }
                          break;
                      }
                      // reset state
                      $.APP.state = 'alive';
                      // start loop
                      $.APP.loopTimer();

                  },
                  pauseTimer : function() {
                      // save timestamp of pause
                      $.APP.dp = new Date();
                      $.APP.tp = $.APP.dp.getTime();
                      // save elapsed time (until pause)
                      $.APP.td = $.APP.tp - $.APP.t1;
                      // change button value
                      $('#' + $.APP.dir + '_start').val('Resume');
                      // set state
                      $.APP.state = 'pause';
                  },
                    resetTimer : function() {
                      // reset display
                      $('#' + $.APP.dir + '_ms,#' + $.APP.dir + '_s,#' + $.APP.dir + '_m,#' + $.APP.dir + '_h').html('00');
                      // change button value
                      $('#' + $.APP.dir + '_start').val('Start');
                      // set state
                      $.APP.state = 'reset';
                  },
                  endTimer : function(callback) {
                      // change button value
                      $('#' + $.APP.dir + '_start').val('Restart');
                      // set state
                      $.APP.state = 'end';
                      // invoke callback
                      if (typeof callback === 'function') {
                          callback();
                      }
                  },
                  loopTimer : function() {
                      var td;
                      var d2,t2;
                      var ms = 0;
                      var s  = 0;
                      var m  = 0;
                      var h  = 0;
                      if ($.APP.state === 'alive') {
                          // get current date and convert it into
                          // timestamp for calculations
                          d2 = new Date();
                          t2 = d2.getTime();
                          // calculate time difference between
                          // initial and current timestamp
                          if ($.APP.dir === 'sw') {
                              td = t2 - $.APP.t1;
                          // reversed if countdown
                          } else {
                              td = $.APP.t1 - t2;
                              if (td <= 0) {
                                  // if time difference is 0 end countdown
                                  $.APP.endTimer(function(){
                                      $.APP.resetTimer();
                                  });
                              }
                          }
                          // calculate milliseconds
                          ms = td%1000;
                          if (ms < 1) {
                              ms = 0;
                          } else {
                              // calculate seconds
                              s = (td-ms)/1000;
                              if (s < 1) {
                                  s = 0;
                              } else {
                                  // calculate minutes
                                  var m = (s-(s%60))/60;
                                  if (m < 1) {
                                      m = 0;
                                  } else {
                                      // calculate hours
                                      var h = (m-(m%60))/60;
                                      if (h < 1) {
                                          h = 0;
                                      }
                                  }
                              }
                          }
                          // substract elapsed minutes & hours
                          ms = Math.round(ms/100);
                          s  = s-(m*60);
                          m  = m-(h*60);
                          // update display
                          $('#' + $.APP.dir + '_ms').html($.APP.formatTimer(ms));
                          $('#' + $.APP.dir + '_s').html($.APP.formatTimer(s));
                          $('#' + $.APP.dir + '_m').html($.APP.formatTimer(m));
                          $('#' + $.APP.dir + '_h').html($.APP.formatTimer(h));
                          // loop
                          $.APP.t = setTimeout($.APP.loopTimer,1);
                      } else {
                          // kill loop
                          clearTimeout($.APP.t);
                          return true;
                      }
                  }
              }
          });
          $('#sw_start').live('click', function() {
              $.APP.startTimer('sw');
          });
          $('#cd_start').live('click', function() {
              $.APP.startTimer('cd');
          });
          $('#sw_reset,#cd_reset').live('click', function() {
              $.APP.resetTimer();
          });
          $('#sw_pause,#cd_pause').live('click', function() {
              $.APP.pauseTimer();
          });
      })(jQuery);
  });

  </script>

{% endblock %}
